.text-button {
  display: flex;
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}

.text-button {
  color: var(--action-primary-content-default) !important;
  text-decoration: none;
  cursor: pointer;
}

.text-button:hover {
  color: var(--action-primary-content-hover) !important;
  cursor: pointer;
}

.text-button:active {
  color: var(--action-primary-content-active) !important;
}

.text-button.selected {
  color: var(--action-primary-content-selected) !important;
}

.text-button:focus-visible {
  box-shadow: 0px 0px 0px 2px var(--focus-default);
}

.text-button.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.text-button::after {
  margin-left: calc(.5 * var(--base-spacing));
  vertical-align: bottom;
}

/* button with arrow */
.text-button.with-arrow::after {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.text-button.with-arrow::after {
  content: url("../../../../images/icon-buttons/arrow-down/light/default.svg");
}

.theme-dark .text-button.with-arrow::after {
  content: url("../../../../images/icon-buttons/arrow-down/dark/default.svg");
}

.text-button.with-arrow:hover::after {
  content: url("../../../../images/icon-buttons/arrow-down/light/hover.svg");
}

.theme-dark .text-button.with-arrow:hover::after {
  content: url("../../../../images/icon-buttons/arrow-down/dark/hover.svg");
}

.text-button.with-arrow.selected::after {
  content: url("../../../../images/icon-buttons/arrow-down/light/selected.svg");
}

.theme-dark .text-button.with-arrow.selected::after {
  content: url("../../../../images/icon-buttons/arrow-down/dark/selected.svg");
}

/* button with link */

#content .text-button.with-link {
  text-decoration: none;
  margin-bottom: calc(1 * var(--base-spacing));
  display: inline-block;
  border-bottom: none;
}

.text-button.with-link::after {
  content: url("../../../../images/icon-buttons/link/light/default.svg");
}

.theme-dark .text-button.with-link::after {
  content: url("../../../../images/icon-buttons/link/dark/default.svg");
}

.text-button.with-link:hover::after {
  content: url("../../../../images/icon-buttons/link/light/hover.svg");
}

.theme-dark .text-button.with-link:hover::after {
  content: url("../../../../images/icon-buttons/link/dark/hover.svg");
}

.text-button.with-link.selected::after {
  content: url("../../../../images/icon-buttons/link/light/selected.svg");
}

.theme-dark .text-button.with-link.selected::after {
  content: url("../../../../images/icon-buttons/link/dark/selected.svg");
}
.label-only-button {
  background-color: var(--action-primary-background-default-ghost);
  color: var(--action-primary-content-default);
  border: 1px solid var(--border-default);
  padding: calc(1.25 * var(--base-spacing)) calc(1.5 * var(--base-spacing));
  border-radius: 4px;
}

.label-only-button:hover {
  background-color: var(--action-primary-background-hover);
  color: var(--action-primary-content-hover);
  cursor: pointer;
}

.label-only-button:active {
  background-color: var(--action-primary-background-hover);
  color: var(--action-primary-content-hover);
}

.label-only-button.selected {
  background-color: var(--action-primary-background-hover);
  color: var(--action-primary-content-selected);
}

.label-only-button:focus-visible {
  border: none;
  outline: none;
  box-shadow: 0px 0px 0px 2px var(--focus-default);
}

.label-only-button:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.icon-button {
  background: unset;
  border: none;
  cursor: pointer;
  outline: none !important;
  padding: 0;
  height: 16px;
  width: 16px;
}

.icon-button:hover {
  cursor: pointer;
}

.icon-button::after {
  width: calc(2 * var(--base-spacing));
  height: calc(2 * var(--base-spacing));
}

.icon-button:focus-visible {
  box-shadow: 0px 0px 0px 2px var(--focus-default);
  border-radius: 4px;
}

.icon-button:disabled {
  opacity: 0.5;
}

/* theme-toggle button */

#theme-toggle.icon-button::after {
  content: url("../../../../images/icon-buttons/moon/light/default.svg");
}

#theme-toggle.icon-button:hover::after {
  content: url("../../../../images/icon-buttons/moon/light/hover.svg");
}

#theme-toggle.icon-button:active::after {
  content: url("../../../../images/icon-buttons/moon/light/active.svg");
}

#theme-toggle.icon-button:disabled::after {
  content: url("../../../../images/icon-buttons/moon/light/disabled.svg");
}

#theme-toggle.icon-button:focus::after {
  content: url("../../../../images/icon-buttons/moon/light/focus.svg");
}

#theme-toggle.icon-button.selected::after {
  content: url("../../../../images/icon-buttons/moon/light/selected.svg");
}

#theme-toggle.icon-button:focus::after {
  content: url("../../../../images/icon-buttons/moon/light/focus.svg");
}

.theme-dark #theme-toggle.icon-button::after {
  content: url("../../../../images/icon-buttons/sun/dark/default.svg");
}

.theme-dark #theme-toggle.icon-button:hover::after {
  content: url("../../../../images/icon-buttons/sun/dark/hover.svg");
}

.theme-dark #theme-toggle.icon-button:active::after {
  content: url("../../../../images/icon-buttons/sun/dark/active.svg");
}

.theme-dark #theme-toggle.icon-button:disabled::after {
  content: url("../../../../images/icon-buttons/sun/dark/disabled.svg");
}

.theme-dark #theme-toggle.icon-button:focus::after {
  content: url("../../../../images/icon-buttons/sun/dark/focus.svg");
}

.theme-dark #theme-toggle.icon-button.selected::after {
  content: url("../../../../images/icon-buttons/sun/dark/selected.svg");
}

.theme-dark #theme-toggle.icon-button:focus::after {
  content: url("../../../../images/icon-buttons/sun/dark/focus.svg");
}

/* search-toggle button */

#search-toggle.icon-button::after {
  content: url("../../../../images/icon-buttons/search/light/default.svg");
}

#search-toggle.icon-button:hover::after {
  content: url("../../../../images/icon-buttons/search/light/hover.svg");
}

#search-toggle.icon-button:active::after {
  content: url("../../../../images/icon-buttons/search/light/active.svg");
}

#search-toggle.icon-button:disabled::after {
  content: url("../../../../images/icon-buttons/search/light/disabled.svg");
}

#search-toggle.icon-button:focus::after {
  content: url("../../../../images/icon-buttons/search/light/focus.svg");
}

#search-toggle.icon-button.selected::after {
  content: url("../../../../images/icon-buttons/search/light/selected.svg");
}

.theme-dark #search-toggle.icon-button::after {
  content: url("../../../../images/icon-buttons/search/dark/default.svg");
}

.theme-dark #search-toggle.icon-button:hover::after {
  content: url("../../../../images/icon-buttons/search/dark/hover.svg");
}

.theme-dark #search-toggle.icon-button:active::after {
  content: url("../../../../images/icon-buttons/search/dark/active.svg");
}

.theme-dark #search-toggle.icon-button:disabled::after {
  content: url("../../../../images/icon-buttons/search/dark/disabled.svg");
}

.theme-dark #search-toggle.icon-button:focus::after {
  content: url("../../../../images/icon-buttons/search/dark/focus.svg");
}

.theme-dark #search-toggle.icon-button.selected::after {
  content: url("../../../../images/icon-buttons/search/dark/selected.svg");
}

/* hamburger button */
.icon-button.hamburger::after {
  content: url("../../../../images/icon-buttons/hamburger/light/default.svg");
}

.icon-button.hamburger:hover::after {
  content: url("../../../../images/icon-buttons/hamburger/light/hover.svg");
}

.icon-button.hamburger:active::after {
  content: url("../../../../images/icon-buttons/hamburger/light/active.svg");
}

.icon-button.hamburger:disabled::after {
  content: url("../../../../images/icon-buttons/hamburger/light/disabled.svg");
}

.icon-button.hamburger:focus::after {
  content: url("../../../../images/icon-buttons/hamburger/light/focus.svg");
}

.icon-button.hamburger.selected::after {
  content: url("../../../../images/icon-buttons/hamburger/light/selected.svg");
}

.theme-dark .icon-button.hamburger::after {
  content: url("../../../../images/icon-buttons/hamburger/dark/default.svg");
}

.theme-dark .icon-button.hamburger:hover::after {
  content: url("../../../../images/icon-buttons/hamburger/dark/hover.svg");
}

.theme-dark .icon-button.hamburger:active::after {
  content: url("../../../../images/icon-buttons/hamburger/dark/active.svg");
}

.theme-dark .icon-button.hamburger:disabled::after {
  content: url("../../../../images/icon-buttons/hamburger/dark/disabled.svg");
}

.theme-dark .icon-button.hamburger:focus::after {
  content: url("../../../../images/icon-buttons/hamburger/dark/focus.svg");
}

.theme-dark .icon-button.hamburger.selected::after {
  content: url("../../../../images/icon-buttons/hamburger/dark/selected.svg");
}

/*navigation arrow button */

.ar.icon-button::after {
  content: url("../../../../images/icon-buttons/arrow-right/light/default.svg");
}

.ar.icon-button:hover::after {
  content: url("../../../../images/icon-buttons/arrow-right/light/hover.svg");
}

.ar.icon-button:active::after {
  content: url("../../../../images/icon-buttons/arrow-right/light/active.svg");
}

.ar.icon-button:disabled::after {
  content: url("../../../../images/icon-buttons/arrow-right/light/disabled.svg");
}

.ar.icon-button:focus::after {
  content: url("../../../../images/icon-buttons/arrow-right/light/focus.svg");
}

.ar.icon-button.selected::after {
  content: url("../../../../images/icon-buttons/arrow-right/light/selected.svg");
}

.theme-dark .ar.icon-button::after {
  content: url("../../../../images/icon-buttons/arrow-right/dark/default.svg");
}

.theme-dark .ar.icon-button:hover::after {
  content: url("../../../../images/icon-buttons/arrow-right/dark/hover.svg");
}

.theme-dark .ar.icon-button:active::after {
  content: url("../../../../images/icon-buttons/arrow-right/dark/active.svg");
}

.theme-dark .ar.icon-button:disabled::after {
  content: url("../../../../images/icon-buttons/arrow-right/dark/disabled.svg");
}

.theme-dark .ar.icon-button:focus::after {
  content: url("../../../../images/icon-buttons/arrow-right/dark/focus.svg");
}

.theme-dark .ar.icon-button.selected::after {
  content: url("../../../../images/icon-buttons/arrow-right/dark/selected.svg");
}

.ar.icon-button.expanded::after {
  content: url("../../../../images/icon-buttons/arrow-down/light/default.svg");
}

.ar.icon-button.expanded:hover::after {
  content: url("../../../../images/icon-buttons/arrow-down/light/hover.svg");
}

.ar.icon-button.expanded:active::after {
  content: url("../../../../images/icon-buttons/arrow-down/light/active.svg");
}

.ar.icon-button.expanded:disabled::after {
  content: url("../../../../images/icon-buttons/arrow-down/light/disabled.svg");
}

.ar.icon-button.expanded:focus::after {
  content: url("../../../../images/icon-buttons/arrow-down/light/focus.svg");
}

.ar.icon-button.expanded.selected::after {
  content: url("../../../../images/icon-buttons/arrow-down/light/selected.svg");
}

.theme-dark .ar.icon-button.expanded::after {
  content: url("../../../../images/icon-buttons/arrow-down/dark/default.svg");
}

.theme-dark .ar.icon-button.expanded:hover::after {
  content: url("../../../../images/icon-buttons/arrow-down/dark/hover.svg");
}

.theme-dark .ar.icon-button.expanded:active::after {
  content: url("../../../../images/icon-buttons/arrow-down/dark/active.svg");
}

.theme-dark .ar.icon-button.expanded:disabled::after {
  content: url("../../../../images/icon-buttons/arrow-down/dark/disabled.svg");
}

.theme-dark .ar.icon-button.expanded:focus::after {
  content: url("../../../../images/icon-buttons/arrow-down/dark/focus.svg");
}

.theme-dark .ar.icon-button.expanded.selected::after {
  content: url("../../../../images/icon-buttons/arrow-down/dark/selected.svg");
}



/* mobile menu toggler */

#mobile-menu-toggle.icon-button.menu-shown::after {
  content: url("../../../../images/icon-buttons/menu-animated/light/default.svg");
}

#mobile-menu-toggle.icon-button.menu-shown:hover::after {
  content: url("../../../../images/icon-buttons/menu-animated/light/hover.svg");
}

#mobile-menu-toggle.icon-button.menu-shown:active::after {
  content: url("../../../../images/icon-buttons/menu-animated/light/active.svg");
}

#mobile-menu-toggle.icon-button.menu-shown:disabled::after {
  content: url("../../../../images/icon-buttons/menu-animated/light/disabled.svg");
}

#mobile-menu-toggle.icon-button.menu-shown:focus::after {
  content: url("../../../../images/icon-buttons/menu-animated/light/focus.svg");
}

#mobile-menu-toggle.icon-button.menu-shown.selected::after {
  content: url("../../../../images/icon-buttons/menu-animated/light/selected.svg");
}

.theme-dark #mobile-menu-toggle.icon-button.menu-shown::after {
  content: url("../../../../images/icon-buttons/menu-animated/dark/default.svg");
}

.theme-dark #mobile-menu-toggle.icon-button.menu-shown:hover::after {
  content: url("../../../../images/icon-buttons/menu-animated/dark/hover.svg");
}

.theme-dark #mobile-menu-toggle.icon-button.menu-shown:active::after {
  content: url("../../../../images/icon-buttons/menu-animated/dark/active.svg");
}

.theme-dark #mobile-menu-toggle.icon-button.menu-shown:disabled::after {
  content: url("../../../../images/icon-buttons/menu-animated/dark/disabled.svg");
}

.theme-dark #mobile-menu-toggle.icon-button.menu-shown:focus::after {
  content: url("../../../../images/icon-buttons/menu-animated/dark/focus.svg");
}

.theme-dark #mobile-menu-toggle.icon-button.menu-shown.selected::after {
  content: url("../../../../images/icon-buttons/menu-animated/dark/selected.svg");
}

/* gh button */

.icon-button.gh::after {
  content: url("../../../../images/icon-buttons/gh/light/default.svg");
}

.icon-button.gh:hover::after {
  content: url("../../../../images/icon-buttons/gh/light/hover.svg");
}

.icon-button.gh:active::after {
  content: url("../../../../images/icon-buttons/gh/light/active.svg");
}

.icon-button.gh:disabled::after {
  content: url("../../../../images/icon-buttons/gh/light/disabled.svg");
}

.icon-button.gh:focus::after {
  content: url("../../../../images/icon-buttons/gh/light/focus.svg");
}

.icon-button.gh.selected::after {
  content: url("../../../../images/icon-buttons/gh/light/selected.svg");
}

.theme-dark .icon-button.gh::after {
  content: url("../../../../images/icon-buttons/gh/dark/default.svg");
}

.theme-dark .icon-button.gh:hover::after {
  content: url("../../../../images/icon-buttons/gh/dark/hover.svg");
}

.theme-dark .icon-button.gh:active::after {
  content: url("../../../../images/icon-buttons/gh/dark/active.svg");
}

.theme-dark .icon-button.gh:disabled::after {
  content: url("../../../../images/icon-buttons/gh/dark/disabled.svg");
}

.theme-dark .icon-button.gh:focus::after {
  content: url("../../../../images/icon-buttons/gh/dark/focus.svg");
}

.theme-dark .icon-button.gh.selected::after {
  content: url("../../../../images/icon-buttons/gh/dark/selected.svg");
}

/* twitter button */

.icon-button.twitter::after {
  content: url("../../../../images/icon-buttons/twitter/light/default.svg");
}

.icon-button.twitter:hover::after {
  content: url("../../../../images/icon-buttons/twitter/light/hover.svg");
}

.icon-button.twitter:active::after {
  content: url("../../../../images/icon-buttons/twitter/light/active.svg");
}

.icon-button.twitter:disabled::after {
  content: url("../../../../images/icon-buttons/twitter/light/disabled.svg");
}

.icon-button.twitter:focus::after {
  content: url("../../../../images/icon-buttons/twitter/light/focus.svg");
}

.icon-button.twitter.selected::after {
  content: url("../../../../images/icon-buttons/twitter/light/selected.svg");
}

.theme-dark .icon-button.twitter::after {
  content: url("../../../../images/icon-buttons/twitter/dark/default.svg");
}

.theme-dark .icon-button.twitter:hover::after {
  content: url("../../../../images/icon-buttons/twitter/dark/hover.svg");
}

.theme-dark .icon-button.twitter:active::after {
  content: url("../../../../images/icon-buttons/twitter/dark/active.svg");
}

.theme-dark .icon-button.twitter:disabled::after {
  content: url("../../../../images/icon-buttons/twitter/dark/disabled.svg");
}

.theme-dark .icon-button.twitter:focus::after {
  content: url("../../../../images/icon-buttons/twitter/dark/focus.svg");
}

.theme-dark .icon-button.twitter.selected::after {
  content: url("../../../../images/icon-buttons/twitter/dark/selected.svg");
}

/* discord button */

.icon-button.discord::after {
  content: url("../../../../images/icon-buttons/discord/light/default.svg");
}

.icon-button.discord:hover::after {
  content: url("../../../../images/icon-buttons/discord/light/hover.svg");
}

.icon-button.discord:active::after {
  content: url("../../../../images/icon-buttons/discord/light/active.svg");
}

.icon-button.discord:disabled::after {
  content: url("../../../../images/icon-buttons/discord/light/disabled.svg");
}

.icon-button.discord:focus::after {
  content: url("../../../../images/icon-buttons/discord/light/focus.svg");
}

.icon-button.discord.selected::after {
  content: url("../../../../images/icon-buttons/discord/light/selected.svg");
}

.theme-dark .icon-button.discord::after {
  content: url("../../../../images/icon-buttons/discord/dark/default.svg");
}

.theme-dark .icon-button.discord:hover::after {
  content: url("../../../../images/icon-buttons/discord/dark/hover.svg");
}

.theme-dark .icon-button.discord:active::after {
  content: url("../../../../images/icon-buttons/discord/dark/active.svg");
}

.theme-dark .icon-button.discord:disabled::after {
  content: url("../../../../images/icon-buttons/discord/dark/disabled.svg");
}

.theme-dark .icon-button.discord:focus::after {
  content: url("../../../../images/icon-buttons/discord/dark/focus.svg");
}

.theme-dark .icon-button.discord.selected::after {
  content: url("../../../../images/icon-buttons/discord/dark/selected.svg");
}

/* gitter button */

.icon-button.gitter::after {
  content: url("../../../../images/icon-buttons/gitter/light/default.svg");
}

.icon-button.gitter:hover::after {
  content: url("../../../../images/icon-buttons/gitter/light/hover.svg");
}

.icon-button.gitter:active::after {
  content: url("../../../../images/icon-buttons/gitter/light/active.svg");
}

.icon-button.gitter:disabled::after {
  content: url("../../../../images/icon-buttons/gitter/light/disabled.svg");
}

.icon-button.gitter:focus::after {
  content: url("../../../../images/icon-buttons/gitter/light/focus.svg");
}

.icon-button.gitter.selected::after {
  content: url("../../../../images/icon-buttons/gitter/light/selected.svg");
}

.theme-dark .icon-button.gitter::after {
  content: url("../../../../images/icon-buttons/gitter/dark/default.svg");
}

.theme-dark .icon-button.gitter:hover::after {
  content: url("../../../../images/icon-buttons/gitter/dark/hover.svg");
}

.theme-dark .icon-button.gitter:active::after {
  content: url("../../../../images/icon-buttons/gitter/dark/active.svg");
}

.theme-dark .icon-button.gitter:disabled::after {
  content: url("../../../../images/icon-buttons/gitter/dark/disabled.svg");
}

.theme-dark .icon-button.gitter:focus::after {
  content: url("../../../../images/icon-buttons/gitter/dark/focus.svg");
}

.theme-dark .icon-button.gitter.selected::after {
  content: url("../../../../images/icon-buttons/gitter/dark/selected.svg");
}

/* copy button */

.icon-button.copy-button::after {
  content: url("../../../../images/icon-buttons/copy/light/default.svg");
}

.icon-button.copy-button:hover::after {
  content: url("../../../../images/icon-buttons/copy/light/hover.svg");
}

.icon-button.copy-button:active::after {
  content: url("../../../../images/icon-buttons/copy/light/active.svg");
}

.icon-button.copy-button:disabled::after {
  content: url("../../../../images/icon-buttons/copy/light/disabled.svg");
}

.icon-button.copy-button:focus::after {
  content: url("../../../../images/icon-buttons/copy/light/focus.svg");
}

.icon-button.copy-button.selected::after {
  content: url("../../../../images/icon-buttons/copy/light/selected.svg");
}

.theme-dark .icon-button.copy-button::after {
  content: url("../../../../images/icon-buttons/copy/dark/default.svg");
}

.theme-dark .icon-button.copy-button:hover::after {
  content: url("../../../../images/icon-buttons/copy/dark/hover.svg");
}

.theme-dark .icon-button.copy-button:active::after {
  content: url("../../../../images/icon-buttons/copy/dark/active.svg");
}

.theme-dark .icon-button.copy-button:disabled::after {
  content: url("../../../../images/icon-buttons/copy/dark/disabled.svg");
}

.theme-dark .icon-button.copy-button:focus::after {
  content: url("../../../../images/icon-buttons/copy/dark/focus.svg");
}

.theme-dark .icon-button.copy-button.selected::after {
  content: url("../../../../images/icon-buttons/copy/dark/selected.svg");
}

/* show-content button */

.icon-button.show-content::after {
  content: url("../../../../images/icon-buttons/plus/light/default.svg");
}

.icon-button.show-content:hover::after {
  content: url("../../../../images/icon-buttons/plus/light/hover.svg");
}

.icon-button.show-content:active::after {
  content: url("../../../../images/icon-buttons/plus/light/active.svg");
}

.icon-button.show-content:disabled::after {
  content: url("../../../../images/icon-buttons/plus/light/disabled.svg");
}

.icon-button.show-content:focus::after {
  content: url("../../../../images/icon-buttons/plus/light/focus.svg");
}

.icon-button.show-content.selected::after {
  content: url("../../../../images/icon-buttons/plus/light/selected.svg");
}

.theme-dark .icon-button.show-content::after {
  content: url("../../../../images/icon-buttons/plus/dark/default.svg");
}

.theme-dark .icon-button.show-content:hover::after {
  content: url("../../../../images/icon-buttons/plus/dark/hover.svg");
}

.theme-dark .icon-button.show-content:active::after {
  content: url("../../../../images/icon-buttons/plus/dark/active.svg");
}

.theme-dark .icon-button.show-content:disabled::after {
  content: url("../../../../images/icon-buttons/plus/dark/disabled.svg");
}

.theme-dark .icon-button.show-content:focus::after {
  content: url("../../../../images/icon-buttons/plus/dark/focus.svg");
}

.theme-dark .icon-button.show-content.selected::after {
  content: url("../../../../images/icon-buttons/plus/dark/selected.svg");
}

.icon-button.show-content.expand::after {
  content: url("../../../../images/icon-buttons/minus/light/default.svg");
}

.icon-button.show-content.expand:hover::after {
  content: url("../../../../images/icon-buttons/minus/light/hover.svg");
}

.icon-button.show-content.expand:active::after {
  content: url("../../../../images/icon-buttons/minus/light/active.svg");
}

.icon-button.show-content.expand:disabled::after {
  content: url("../../../../images/icon-buttons/minus/light/disabled.svg");
}

.icon-button.show-content.expand:focus::after {
  content: url("../../../../images/icon-buttons/minus/light/focus.svg");
}

.icon-button.show-content.expand.selected::after {
  content: url("../../../../images/icon-buttons/minus/light/selected.svg");
}

.theme-dark .icon-button.show-content.expand::after {
  content: url("../../../../images/icon-buttons/minus/dark/default.svg");
}

.theme-dark .icon-button.show-content.expand:hover::after {
  content: url("../../../../images/icon-buttons/minus/dark/hover.svg");
}

.theme-dark .icon-button.show-content.expand:active::after {
  content: url("../../../../images/icon-buttons/minus/dark/active.svg");
}

.theme-dark .icon-button.show-content.expand:disabled::after {
  content: url("../../../../images/icon-buttons/minus/dark/disabled.svg");
}

.theme-dark .icon-button.show-content.expand:focus::after {
  content: url("../../../../images/icon-buttons/minus/dark/focus.svg");
}

.theme-dark .icon-button.show-content.expand.selected::after {
  content: url("../../../../images/icon-buttons/minus/dark/selected.svg");
}

.icon-button.close:disabled {
  opacity: 0.5;
}

.icon-button.close::after {
  content: url("../../../../images/icon-buttons/close/light/default.svg");
}

.icon-button.close:hover::after {
  content: url("../../../../images/icon-buttons/close/light/hover.svg");
}

.icon-button.close:active::after {
  content: url("../../../../images/icon-buttons/close/light/active.svg");
}

.icon-button.close:disabled::after {
  content: url("../../../../images/icon-buttons/close/light/disabled.svg");
}

.icon-button.close:focus::after {
  content: url("../../../../images/icon-buttons/close/light/focus.svg");
}

.icon-button.close.selected::after {
  content: url("../../../../images/icon-buttons/close/light/selected.svg");
}

.theme-dark .icon-button.close::after {
  content: url("../../../../images/icon-buttons/close/dark/default.svg");
}

.theme-dark .icon-button.close:hover::after {
  content: url("../../../../images/icon-buttons/close/dark/hover.svg");
}

.theme-dark .icon-button.close:active::after {
  content: url("../../../../images/icon-buttons/close/dark/active.svg");
}

.theme-dark .icon-button.close:disabled::after {
  content: url("../../../../images/icon-buttons/close/dark/disabled.svg");
}

.theme-dark .icon-button.close:focus::after {
  content: url("../../../../images/icon-buttons/close/dark/focus.svg");
}

.theme-dark .icon-button.close.selected::after {
  content: url("../../../../images/icon-buttons/close/dark/selected.svg");
}


/* member list expanding arrow */

.documentableElement .ar.icon-button::after {
  content: url("../../../../images/icon-buttons/arrow-right/light/default.svg");
}

.documentableElement .ar.icon-button:hover::after {
  content: url("../../../../images/icon-buttons/arrow-right/light/hover.svg");
}

.documentableElement .ar.icon-button:active::after {
  content: url("../../../../images/icon-buttons/arrow-right/light/active.svg");
}

.documentableElement .ar.icon-button:disabled::after {
  content: url("../../../../images/icon-buttons/arrow-right/light/disabled.svg");
}

.documentableElement .ar.icon-button:focus::after {
  content: url("../../../../images/icon-buttons/arrow-right/light/focus.svg");
}

.documentableElement .ar.icon-button.selected::after {
  content: url("../../../../images/icon-buttons/arrow-right/light/selected.svg");
}

.theme-dark .documentableElement .ar.icon-button::after {
  content: url("../../../../images/icon-buttons/arrow-right/dark/default.svg");
}

.theme-dark .documentableElement .ar.icon-button:hover::after {
  content: url("../../../../images/icon-buttons/arrow-right/dark/hover.svg");
}

.theme-dark .documentableElement .ar.icon-button:active::after {
  content: url("../../../../images/icon-buttons/arrow-right/dark/active.svg");
}

.theme-dark .documentableElement .ar.icon-button:disabled::after {
  content: url("../../../../images/icon-buttons/arrow-right/dark/disabled.svg");
}

.theme-dark .documentableElement .ar.icon-button:focus::after {
  content: url("../../../../images/icon-buttons/arrow-right/dark/focus.svg");
}

.theme-dark .documentableElement .ar.icon-button.selected::after {
  content: url("../../../../images/icon-buttons/arrow-right/dark/selected.svg");
}

.documentableElement .ar.icon-button.expanded::after {
  content: url("../../../../images/icon-buttons/arrow-down/light/default.svg");
}

.documentableElement .ar.icon-button.expanded:hover::after {
  content: url("../../../../images/icon-buttons/arrow-down/light/hover.svg");
}

.documentableElement .ar.icon-button.expanded:active::after {
  content: url("../../../../images/icon-buttons/arrow-down/light/active.svg");
}

.documentableElement .ar.icon-button.expanded:disabled::after {
  content: url("../../../../images/icon-buttons/arrow-down/light/disabled.svg");
}

.documentableElement .ar.icon-button.expanded:focus::after {
  content: url("../../../../images/icon-buttons/arrow-down/light/focus.svg");
}

.documentableElement .ar.icon-button.expanded.selected::after {
  content: url("../../../../images/icon-buttons/arrow-down/light/selected.svg");
}

.theme-dark .documentableElement .ar.icon-button.expanded::after {
  content: url("../../../../images/icon-buttons/arrow-down/dark/default.svg");
}

.theme-dark .documentableElement .ar.icon-button.expanded:hover::after {
  content: url("../../../../images/icon-buttons/arrow-down/dark/hover.svg");
}

.theme-dark .documentableElement .ar.icon-button.expanded:active::after {
  content: url("../../../../images/icon-buttons/arrow-down/dark/active.svg");
}

.theme-dark .documentableElement .ar.icon-button.expanded:disabled::after {
  content: url("../../../../images/icon-buttons/arrow-down/dark/disabled.svg");
}

.theme-dark .documentableElement .ar.icon-button.expanded:focus::after {
  content: url("../../../../images/icon-buttons/arrow-down/dark/focus.svg");
}

.theme-dark .documentableElement .ar.icon-button.expanded.selected::after {
  content: url("../../../../images/icon-buttons/arrow-down/dark/selected.svg");
}