aside {
  padding: calc(2* var(--base-spacing));
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  margin-bottom: calc(6* var(--base-spacing));
  border-radius: 4px;
  display: flex;
  align-items: center;
}

aside > .icon {
  width: 16px;
  height: 16px;
  content: url("../../../images/banner-icons/warning.svg");
  padding-right: var(--base-spacing);
}

.warning {
  background-color: var(--semantic-background-yellow);
}

.warning > .icon {
   content: url("../../../images/banner-icons/warning.svg");
}

.success {
  background-color: var(--semantic-background-grass);
}

.success > .icon {
   content: url("../../../images/banner-icons/success.svg");
}

.neutral {
  background-color: var(--semantic-background-grey);
}

.neutral > .icon {
   content: url("../../../images/banner-icons/neutral.svg");
}

.info {
  background-color: var(--semantic-background-sky);
}

.info > .icon {
   content: url("../../../images/banner-icons/info.svg");
}

.error {
  background-color: var(--semantic-background-red);
}

.error > .icon {
   content: url("../../../images/banner-icons/error.svg");
}
#searchbar-container {
  width: 100%;
  height: 100%;
  z-index: 104;
  background-color: rgba(0, 0, 0, 0.569);
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
}

#scaladoc-searchbar {
  z-index: 104;
  width: calc(125 * var(--base-spacing));
  position: relative;
  top: calc(3 * var(--base-spacing));
}

@media (max-width: 1024px) {
  #scaladoc-searchbar {
    width: calc(100 * var(--base-spacing));
  }
}

.scaladoc-searchbar-input {
  width: 100%;
  background-color: var(--action-primary-background-default-solid);
  color: var(--action-primary-content-active);
  background-image: url("../../../images/icon-buttons/search/dark/default.svg");
  background-repeat: no-repeat;
  padding: calc(2 * var(--base-spacing)) calc(2 * var(--base-spacing))
    calc(2 * var(--base-spacing)) calc(5 * var(--base-spacing));
  border-radius: 4px;
  background-size: 16px;
  background-position: 10px 15px;
  border: none;
}

.scaladoc-searchbar-input:focus-visible {
  border: none;
  outline: none;
}

.scaladoc-searchbar-input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1em;
  width: 1em;
  background: url("../../../images/icon-buttons/close/light/default.svg")
    no-repeat 50% 50%;
  background-size: contain;
  opacity: 0;
  pointer-events: none;
}

.scaladoc-searchbar-input-container {
  display: flex;
  align-items: center;
}

.scaladoc-searchbar-cancel-button {
  display: none;
  color: var(--text-primary);
  margin-left: calc(2 * var(--base-spacing));
  cursor: pointer;
}

.scaladoc-searchbar-cancel-button:hover {
  color: var(--text-secondary);
}

@media (max-width: 768px) {
  .scaladoc-searchbar-cancel-button {
    display: inline;
    min-width: 44px;
  }
}

.theme-dark .scaladoc-searchbar-input::-webkit-search-cancel-button {
  background: url("../../../images/icon-buttons/close/dark/default.svg")
    no-repeat 50% 50%;
}

.scaladoc-searchbar-input:focus::-webkit-search-cancel-button {
  opacity: 1;
  pointer-events: all;
}

.scaladoc-searchbar-input.dark::-webkit-search-cancel-button {
  filter: invert(1);
}

#scaladoc-searchbar-results {
  background-color: var(--background-default);
  border-radius: 4px;
  margin-top: calc(1.5 * var(--base-spacing));
  border: 1px solid var(--border-default);
  max-height: calc(100vh - calc(19.5 * var(--base-spacing)));
  overflow: scroll;
}

.searchbar-hints {
  color: var(--text-primary);
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 80%;
  overflow: scroll;
}

.searchbar-hints h1 {
  margin: 0;
}

.searchbar-hints .link {
  color: var(--text-secondary);
  margin-top: calc(4.5 * var(--base-spacing));
  position: relative;
}

.searchbar-hints .link a {
  color: var(--text-secondary);
}

.searchbar-hints .link::marker {
  color: transparent;
}

.searchbar-hints .link::before {
  content: url("../../../images/info/light/default.svg");
  position: absolute;
  left: calc(-4 * var(--base-spacing));
}

.text-dark .searchbar-hints .link::before {
  content: url("../../../images/info/dark/default.svg");
}

.searchbar-hints .lightbulb {
  margin-bottom: calc(2 * var(--base-spacing));
}

.searchbar-hints .lightbulb:after {
  content: url("../../../images/bulb/light/default.svg");
}

.theme-dark .searchbar-hints .lightbulb:after {
  content: url("../../../images/bulb/dark/default.svg");
}

.theme-dark .searchbar-hints .lightbulb:after {
  content: url("../../../images/bulb/dark/default.svg");
}

.searchbar-hints-list {
  margin-top: calc(5.5 * var(--base-spacing));
  width: calc(61 * var(--base-spacing));
}

.searchbar-hints-list li b {
  color: var(--text-secondary);
}

.searchbar-hints-list li {
  margin-left: calc(4.6 * var(--base-spacing));
}

.searchbar-hints-list li::marker {
  color: var(--text-secondary);
}

.searchbar-hints-list .h100 {
  margin-bottom: calc(3 * var(--base-spacing));
  margin-left: calc(2 * var(--base-spacing));
}

.searchbar-hints-list .divider {
  margin-bottom: calc(1.5 * var(--base-spacing));
  margin-top: calc(1.5 * var(--base-spacing));
}

.searchbar-hints-list .h100:last-of-type {
  margin-top: calc(6 * var(--base-spacing));
}

.scaladoc-searchbar-row {
  display: flex;
  flex-wrap: wrap;
  color: var(--text-secondary);
  padding: calc(1.5 * var(--base-spacing)) calc(2 * var(--base-spacing));
}

.scaladoc-searchbar-row[result] {
  padding: calc(1.25 * var(--base-spacing)) calc(2 * var(--base-spacing));
}

.scaladoc-searchbar-row[result]:hover,
.scaladoc-searchbar-row[selected] {
  background-color: var(--action-primary-background-selected);
}

.scaladoc-searchbar-row[divider] {
  margin-top: calc(0.25 * var(--base-spacing));
  border-top: solid 1px var(--border-default);
}

.scaladoc-searchbar-row[divider]:first-of-type {
  border: none;
}

.scaladoc-searchbar-row a {
  color: var(--text-secondary);
  text-decoration: none;
}

.scaladoc-searchbar-row b {
  color: var(--text-primary);
}

.scaladoc-searchbar-row .micon {
  margin-right: calc(1 * var(--base-spacing));
  color: var(--text-secondary);
}

.scaladoc-searchbar-location {
  display: none;
}

.scaladoc-searchbar-row:hover .scaladoc-searchbar-location {
  display: block;
}

.scaladoc-searchbar-extra-info {
  display: none;
  width: 100%;
  padding-top: 1em;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.scaladoc-searchbar-row:hover .scaladoc-searchbar-extra-info {
  display: block;
}

/* searchbar footer */
#searchbar-footer {
  position: absolute;
  bottom: 0px;
  background-color: var(--background-default);
  color: var(--text-secondary);
  height: calc(6 * var(--base-spacing));
  width: 100%;
  display: flex;
  align-items: center;
}

#searchbar-footer b {
  color: var(--text-primary);
}

.searchbar-footer-right-container span {
  margin-right: calc(2 * var(--base-spacing));
}

.searchbar-footer-left-container span {
  margin-right: calc(2 * var(--base-spacing));
}

.searchbar-footer-left-container span:first-of-type {
  margin-left: calc(2 * var(--base-spacing));
}

.searchbar-footer-right-container {
  margin-left: auto;
}

@media (max-width: 892px) {
  #searchbar-footer {
    height: calc(10 * var(--base-spacing));
  }

  #searchbar-footer span {
    display: block;
  }

  .searchbar-footer-left-container span:not(:first-child) {
    margin-left: calc(2 * var(--base-spacing));
    margin-top: calc(1 * var(--base-spacing));
  }

  .searchbar-footer-right-container span:not(:first-child) {
    margin-top: calc(1 * var(--base-spacing));
  }
}

/* mobile view */

@media (max-width: 768px) {
  #searchbar-container {
    background-color: var(--background-default);
  }

  .scaladoc-searchbar-row:hover .scaladoc-searchbar-location {
    display: none;
  }

  .scaladoc-searchbar-row:hover .scaladoc-searchbar-extra-info {
    display: none;
  }

  #scaladoc-searchbar-results {
    border: none;
    margin-left: calc(3 * var(--base-spacing));
    margin-right: calc(3 * var(--base-spacing));
  }

  .scaladoc-searchbar-input-container {
    margin-left: calc(3 * var(--base-spacing));
    margin-right: calc(3 * var(--base-spacing));
  }

  .scaladoc-searchbar-row[divider]:first-child {
    border: none;
  }

  #searchbar-footer {
    display: none;
  }

  #scaladoc-searchbar-results {
    max-height: 100%;
  }

  #scaladoc-searchbar-results {
    margin-top: calc(3 * var(--base-spacing));
  }
}
#main {
  width: calc(100vw - 313px);
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  right: 0;
  scroll-behavior: smooth;
}

/* blog footer */
.blog-author {
  color: gray;
}

.blog-author img#author-img {
  width: auto;
  height: auto;
  max-width:100px;
  max-height:100px;
  border-radius: 50%;
}

#content {
  display: flex;
  flex-flow: row;
  color: var(--text-primary);

  padding-top: calc(18 * var(--base-spacing));
  padding-bottom: calc(10 * var(--base-spacing));
  width: calc(100% - 68px * 2);
  padding-inline: 68px;
  gap: 68px;;

  -webkit-transition: margin-left 0.2s ease-in-out;
  -moz-transition: margin-left 0.2s ease-in-out;
  -o-transition: margin-left 0.2s ease-in-out;
  transition: margin-left 0.2s ease-in-out;
}

#content > div:first-child {
  width: calc(100vw - 232px - 313px - 68px * 3);
  max-width: 720px;
}


#content.sidebar-shown {
  -webkit-transition: margin-left 0.2s ease-in-out;
  -moz-transition: margin-left 0.2s ease-in-out;
  -o-transition: margin-left 0.2s ease-in-out;
  transition: margin-left 0.2s ease-in-out;
}

@media (min-width: 1921px) {

  #content {
    justify-content: left;
    padding-left: 294px;
  }
}

@media (max-width: 1920px) {

  #content {
    justify-content: center;
  }

  #content > div:first-child {
    padding: 0;
  }
}

@media (max-width: 1467px) {

  #content {
    width: calc(100% - 48px * 2);
    padding-inline: 48px;
    gap: 48px;
  }

  #content > div:first-child {
    width: calc(100vw - 232px - 313px - 48px * 3);
  }
}

@media (max-width: 1024px) {

  #main {
    width: 100vw;
    position: absolute;
    left: 0;
  }

  #content > div:first-child {
    width: calc(100vw - 232px - 48px * 3);
  }

  #content.sidebar-shown {
    margin-left: 313px;
  }

}

@media (max-width: 768px) {

  #content {
    padding-top: calc(10 * var(--base-spacing));
    padding-bottom: calc(6 * var(--base-spacing));
  }

  #content > div:first-child {
    width: calc(100vw - 48px * 2);
  }

}

@media (max-width: 428px) {

  #content {
    padding-bottom: 0;
  }

}

@media (max-width: 428px) {

  #content {
    width: calc(100% - 64px);
    padding-inline: 32px;
  }

  #content > div:first-child {
    width: calc(100vw - 32px * 2);
  }

  #content.sidebar-shown {
    margin-left: 100%;
  }

}

#content::after {
  margin-bottom: calc(10 * var(--base-spacing));
}

/* content headers */

#content h1:first-of-type {
  line-height: normal;
  word-break: break-word;
}

#content h1 {
  color: var(--text-primary);
  margin-block-end: 0;
  margin-block-start: 0;
}

#content h2 {
  color: var(--text-primary);
  margin-block-start: calc(6* var(--base-spacing));
  margin-block-end: calc(3* var(--base-spacing));
}

#content .cover > h2 {
  color: var(--text-secondary);
  margin: 0;
  padding: 12px var(--base-spacing);
}

#content .cover > h2:first-of-type {
  margin: 8px 0 0;
}

@media (max-width: 1376px) {
  #content .cover > h2 {
    padding-left: 0;
  }
}

/* content first paragraph */
.first-p {
  margin-block-start: calc(2* var(--base-spacing));
}

#content .first-p {
  color: var(--text-secondary);
}

/* content list */
#content li {
  color: var(--text-primary);
}

#content li > ul {
  padding-left: calc(4 * var(--base-spacing));
}

/* content table */
#content table {
  color: var(--text-primary);
  border-collapse: collapse;
}

#content table {
  text-align: left;
}

#content table * {
  padding: calc(2 * var(--base-spacing)) var(--base-spacing) 17px;
}

#content table tr {
  border-bottom: 1px solid var(--border-default);
}

#content table tr:last-child {
  border-bottom: none;
}


/* contributors table  */
#contributors table tr td:not(:last-child),
#contributors table th:not(:last-child) {
  text-align: right;
}

#contributors table td {
  vertical-align: top;
}

/* content blockquote */
#content blockquote {
  color: var(--text-secondary);
  border-left: 4px solid var(--border-default);
  padding: 0 calc(2 * var(--base-spacing));
  margin-inline-start: calc(2 * var(--base-spacing));
  margin-inline-end: calc(2 * var(--base-spacing));
}

/* content link */
#content a {
  color: var(--text-primary);
  text-decoration: underline solid 1px;
  -webkit-text-decoration-line: underline; /* Safari */
  text-decoration-line: underline;
  text-underline-offset: 2px;
  transition: text-decoration-color .2s ease-in-out;
}

#content a:hover {
  text-decoration-color: transparent;
}

#content a.anchor {
  color: transparent;
  margin-left: -23px;
  padding-right: 3px;
  transition: color .4s ease-out;
}

#content a.anchor::before {
  content: "\f0c1";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 20px;
}

#content .cover-header {
  margin-block-end: calc(2 * var(--base-spacing));
}

#content .cover-header a,
#content .cover-header a:hover {
  border-bottom: none;
}

#content :not(pre) > code {
  color: var(--code-props-content);
  font-family: "FiraCode-Regular";
  border: 1px solid var(--code-props-border);
  padding: 3px 5px 1px 5px;
  border-radius: 4px;
  background-color: var(--code-props-background);
  display: inline-block;
  line-height: 16px;
  font-size: 13px;
  word-break: break-word;
}

#content .body-large code {
  font-size: 16px;
  line-height: 24px;
}

#content a code,
#content .body-large a code,
#content :is(h1, h2, h3, h4, h5, h6) code {
  font-family: inherit;
  font-size: inherit;
  background: none;
  display: inline;
  border: none;
  padding: 0;
}

#content a code:before,
#content .body-large a code:before,
#content :is(h1, h2, h3, h4, h5, h6) code:before {
  content: '"';
}

#content a code:after,
#content .body-large a code:after,
#content :is(h1, h2, h3, h4, h5, h6) code:after {
  content: '"';
}

#content main :is(ul, ol) {
  margin-block-start: calc(2 * var(--base-spacing));
  margin-block-end: calc(3 * var(--base-spacing));
  padding: 0 0 0 24px;
}

#content main :is(ul, ol) li {
  margin-block-start: calc(2 * var(--base-spacing));
}

#content main :is(ul, ol) li p {
  margin: 0;
}

main ul li::marker {
  content: '•  ';
}

main ol li::marker {
  content: counters(list-item,'.') ')  ';
}

main :is(ul, ol) li .snippet {
  margin-block-start: calc(2 * var(--base-spacing));
  margin-block-end: calc(2 * var(--base-spacing));
}


.breadcrumbs {
  display: none;
}

/* header icons */

/* icons light*/
.cover-header .micon.cl {
  content: url("../../../images/class-big.svg");
}

.cover-header .micon.cl-wc {
  content: url("../../../images/class-big.svg");
}

.cover-header .micon.ob {
  content: url("../../../images/object-big.svg");
}

.cover-header .micon.ob-wc {
  content: url("../../../images/object-big.svg");
}

.cover-header .micon.tr {
  content: url("../../../images/trait-big.svg");
}

.cover-header .micon.tr-wc {
  content: url("../../../images/trait-big.svg");
}

.cover-header .micon.en {
  content: url("../../../images/enum-big.svg");
}

.cover-header .micon.en-wc {
  content: url("../../../images/enum-big.svg");
}

.cover-header .micon.gi {
  content: url("../../../images/given-big.svg");
}

.cover-header .micon.va {
  content: url("../../../images/val-big.svg");
}

.cover-header .micon.ty {
  content: url("../../../images/type-big.svg");
}

.cover-header .micon.st {
  content: url("../../../images/static-big.svg");
}

.cover-header .micon.pa {
  content: url("../../../images/package-big.svg");
}

.cover-header .micon.de {
  content: url("../../../images/method-big.svg");
}

.cover-header .micon.in {
  content: url("../../../images/inkuire-big.svg");
}

/* icons dark */
.theme-dark .cover-header .micon.cl {
  content: url("../../../images/class-dark-big.svg");
}

.theme-dark .cover-header .micon.cl-wc {
  content: url("../../../images/class-big.svg");
}

.theme-dark .cover-header .micon.ob {
  content: url("../../../images/object-dark-big.svg");
}

.theme-dark .cover-header .micon.ob-wc {
  content: url("../../../images/object-big.svg");
}

.theme-dark .cover-header .micon.tr {
  content: url("../../../images/trait-dark-big.svg");
}

.theme-dark .cover-header .micon.tr-wc {
  content: url("../../../images/trait-big.svg");
}

.theme-dark .cover-header .micon.en {
  content: url("../../../images/enum-dark-big.svg");
}

.theme-dark .cover-header .micon.en-wc {
  content: url("../../../images/enum-big.svg");
}

.theme-dark .cover-header .micon.gi {
  content: url("../../../images/given-dark-big.svg");
}

.theme-dark .cover-header .micon.va {
  content: url("../../../images/val-dark-big.svg");
}

.theme-dark .cover-header .micon.ty {
  content: url("../../../images/type-dark-big.svg");
}

.theme-dark .cover-header .micon.st {
  content: url("../../../images/static-dark-big.svg");
}

.theme-dark .cover-header .micon.pa {
  content: url("../../../images/package-dark-big.svg");
}

.theme-dark .cover-header .micon.de {
  content: url("../../../images/method-dark-big.svg");
}

.theme-dark .cover-header .micon.in {
  content: url("../../../images/inkuire-big.svg");
}

.cover-header {
  display: flex;
  align-items: center;
}

.cover-header .micon {
  position: relative;
  z-index: 1;
}

.cover-header .micon.companion {
  position: relative;
  left: -16px;
  z-index: 0;
}

.cover-header .icon {
  max-width: 72px;
}

.fqname {
  color: var(--text-secondary);
}

.companion-badge {
  color: var(--text-primary);
  padding: calc(2 * var(--base-spacing));
  background-color: var(--indigo3);
  border-radius: 4px;
}

.companion-badge a {
  margin-right: calc(0.5 * var(--base-spacing));
}

.companion-badge span {
  display: flex;
}

.companion-badge .micon {
  margin-left: calc(1 * var(--base-spacing));
  margin-right: calc(1 * var(--base-spacing));
}

.main-signature {
  background-color: var(--action-primary-background-default-solid);
  padding: calc(3 * var(--base-spacing));
  border-radius: 4px;
  padding-left: 40px;
  text-indent: -16px;
}

#content > div > * {
  margin-bottom: calc(3 * var(--base-spacing));
}

#content > div > .main-signature {
  margin-bottom: 0;
}

#attributes > h2 {
  margin-bottom: calc(3*var(--base-spacing));
}


.tab {
  position: relative;
}

.tab h2 {
  border-bottom: 1px solid var(--border-default);
  padding-bottom: calc(3 * var(--base-spacing));
  padding-top: calc(3 * var(--base-spacing));
}

.tab > button {
  position: absolute;
  right: 0;
  top: calc(3.5 * var(--base-spacing));
}

.tab .documentableList {
  display: none;
}

.tab.expand .documentableList {
  display: block;
}

.documentableList {
  position: relative;
  border-bottom: 1px solid var(--border-default);
}

.documentableList.expand {
  padding-bottom: calc(3 * var(--base-spacing));
}

.documentableList > button {
  position: absolute;
  right: 0;
  top: calc(0.5 * var(--base-spacing));
}

.documentableList .documentableElement {
  display: none;
}

.documentableList.expand .documentableElement {
  display: block;
}

.member-group-header{
  height: 80px;
  display: flex;
  align-items: center;
}


.documentableList-expander  {
  display: flex;
  cursor: pointer;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}


#content section:last-child {
  margin-bottom: calc(6 * var(--base-spacing));
}

.membersList {
  position: relative;
  min-height: 80vh;
}

#concise-view-switch {
  position: absolute;
  right: 0;
  top: var(--base-spacing);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.membersList.concise .documentableElement {
  padding-top: var(--base-spacing);
  padding-bottom: var(--base-spacing);
  margin: var(--base-spacing);
}

.membersList.concise .documentableBrief p {
  margin-block-start: 0.5em;
}

.membersList.concise .documentableElement .modifiers {
  display: none;
}

.membersList.concise .documentableElement.expand .modifiers {
  display: unset;
}

.show-all-code {
  margin-top: calc(2* var(--base-spacing));
}#no-results-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: calc(10 * var(--base-spacing));
}

#no-results-container .no-result-icon {
  height: 30px;
  width: 30px;
}

#no-results-container .no-result-icon::before {
  content: url('../../../images/no-results-icon.svg');
}

#no-results-container .no-result-header {
margin-block-start: 27px;
  margin-block-end: var(--base-spacing);
  color: var(--text-primary);
}

#no-results-container .no-result-content {
   margin-top: 0;
  margin-bottom: 34px;
  color: var(--text-secondary);
}

#no-results-container .no-result-content p{
  margin: 0;
}

.arrow-navigation {
  display: flex;
  margin-bottom: calc(6 * var(--base-spacing));
  margin-top: calc(6 * var(--base-spacing));
  gap: 24px;
}

.arrow-navigation > div {
  width: 100%;
}

.arrow-navigation > div .arrow-navigation--next {
  text-align: right;
}

.arrow-navigation > div .arrow-navigation--next ~ a {
  display: inline-block;
  width: 100%;
  text-align: right;
}

.arrow-navigation > div > span {
  display: block;
  margin-bottom: calc(1 * var(--base-spacing));
  color: var(--text-secondary);
}body {
  margin: 0;
  padding: 0;
  background-color: var(--background-main);
  height: 100%;
  overflow: hidden;
  scroll-behavior: smooth;;
}

p {
  margin-block: calc(3 * var(--base-spacing));
}

[id] {
  scroll-margin-top: calc(18 * var(--base-spacing));
}

#container {
  --header-height: calc(8 * var(--base-spacing));
}

.site-container img{
  max-width: 100%;
  height: auto;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

#leftColumn ::-webkit-scrollbar{
  width: 5px;
}

#leftColumn ::-webkit-scrollbar-thumb {
  background: var(--code-syntax-highlighting-scrollbar);
  border-radius: 2px;
}.side-menu {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  height: calc(100% - calc(11 * var(--base-spacing)));
  padding: 0 calc(1.5 * var(--base-spacing)) calc(3 * var(--base-spacing)) calc(1.5 * var(--base-spacing));
  box-sizing: border-box;
}

/* show direct children of currently exmanded node*/
.side-menu div.expanded > div {
  display: block;
}

/* always show top level entry*/
.side-menu > div {
  display: block;
}
#mobile-menu {
  display: none;
  position: absolute;
  background-color: var(--background-default);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 103;
}

#mobile-menu.show {
  display: block;
}

#mobile-menu .project-name {
  color: var(--text-primary);
}

.mobile-menu-header {
  align-items: center;
}

.mobile-menu-logo {
  opacity: 0.5;
  display: flex;
  align-items: center;
}

.mobile-menu-logo .project-name {
  margin-left: calc(2 * var(--base-spacing));
}

@media (min-width: 769px) {
  #mobile-menu {
    display: none;
  }

  #mobile-menu.show {
    display: none;
  }
}

.mobile-menu-header {
  height: calc(8 * var(--base-spacing));
  border: 1px solid var(--border-default);
  display: flex;
  padding: calc(3 * var(--base-spacing));
  box-sizing: border-box;
}

.mobile-menu-container {
  padding: calc(3 * var(--base-spacing));
}

.mobile-menu-item {
  display: block;
  text-decoration: none;
  color: var(--action-primary-content-default);
  border-bottom: 1px solid var(--border-default);
  padding: calc(2.5 * var(--base-spacing)) calc(2 * var(--base-spacing));
  display: flex;
  align-items: center;
  cursor: pointer;
}

.mobile-menu-item:hover {
  color: var(--action-primary-content-hover);
}

.mobile-menu-item:active {
  color: var(--action-primary-content-hover);
}

.mobile-menu-item:focus-visible {
  box-shadow: 0px 0px 0px 2px var(--focus-default);
}

.mobile-menu-item.mode::after {
  content: "Dark mode";
}

.theme-dark .mobile-menu-item.mode::after {
  content: "Light mode";
}

/* contribute item dark */

.theme-dark .mobile-menu-item.contribute::after {
  content: url("../../../images/icon-buttons/link/dark/default.svg");
  margin-left: calc(1 * var(--base-spacing));
  height: calc(2 * var(--base-spacing));
  height: calc(2 * var(--base-spacing));
}

.theme-dark .mobile-menu-item.contribute:hover::after {
  content: url("../../../images/icon-buttons/link/dark/hover.svg");
}

.theme-dark .mobile-menu-item.contribute:active::after {
  content: url("../../../images/icon-buttons/link/dark/active.svg");
}

/* contribute item light */

.mobile-menu-item.contribute::after {
  content: url("../../../images/icon-buttons/link/light/default.svg");
  margin-left: calc(1 * var(--base-spacing));
  height: calc(2 * var(--base-spacing));
  height: calc(2 * var(--base-spacing));
}

.mobile-menu-item.contribute:hover::after {
  content: url("../../../images/icon-buttons/link/light/hover.svg");
}

.mobile-menu-item.contribute:active::after {
  content: url("../../../images/icon-buttons/link/light/active.svg");
}

/* mode item dark*/

.theme-dark .mobile-menu-item.mode::before {
  content: url("../../../images/icon-buttons/sun/dark/default.svg");
  margin-right: calc(1 * var(--base-spacing));
  height: calc(2 * var(--base-spacing));
  height: calc(2 * var(--base-spacing));
}

.theme-dark .mobile-menu-item.mode:hover::before {
  content: url("../../../images/icon-buttons/sun/dark/hover.svg");
}

.theme-dark .mobile-menu-item.mode:active::before {
  content: url("../../../images/icon-buttons/sun/dark/active.svg");
}

/* mode item light*/

.mobile-menu-item.mode::before {
  content: url("../../../images/icon-buttons/moon/light/default.svg");
  margin-right: calc(1 * var(--base-spacing));
  height: calc(2 * var(--base-spacing));
  height: calc(2 * var(--base-spacing));
}

.mobile-menu-item.mode:hover::before {
  content: url("../../../images/icon-buttons/moon/light/hover.svg");
}

.mobile-menu-item.mode:active::before {
  content: url("../../../images/icon-buttons/moon/light/active.svg");
}

#mobile-menu-close {
  margin-left: auto;
  width: 48px;
  height: 48px;
}

#mobile-menu-close:disabled {
  opacity: 0.5;
}

#mobile-menu-close::after {
  content: url("../../../images/icon-buttons/close/light/default.svg");
}

#mobile-menu-close:hover::after {
  content: url("../../../images/icon-buttons/close/light/hover.svg");
}

#mobile-menu-close:active::after {
  content: url("../../../images/icon-buttons/close/light/active.svg");
}

#mobile-menu-close:disabled::after {
  content: url("../../../images/icon-buttons/close/light/disabled.svg");
}

#mobile-menu-close:focus::after {
  content: url("../../../images/icon-buttons/close/light/focus.svg");
}

#mobile-menu-close.selected::after {
  content: url("../../../images/icon-buttons/close/light/selected.svg");
}

.theme-dark #mobile-menu-close::after {
  content: url("../../../images/icon-buttons/close/dark/default.svg");
}

.theme-dark #mobile-menu-close:hover::after {
  content: url("../../../images/icon-buttons/close/dark/hover.svg");
}

.theme-dark #mobile-menu-close:active::after {
  content: url("../../../images/icon-buttons/close/dark/active.svg");
}

.theme-dark #mobile-menu-close:disabled::after {
  content: url("../../../images/icon-buttons/close/dark/disabled.svg");
}

.theme-dark #mobile-menu-close:focus::after {
  content: url("../../../images/icon-buttons/close/dark/focus.svg");
}

.theme-dark #mobile-menu-close.selected::after {
  content: url("../../../images/icon-buttons/close/dark/selected.svg");
}

/* search */

#mobile-scaladoc-searchbar-input {
  height: calc(4.5 * var(--base-spacing));
  background-position: 10px 10px;
  margin-bottom: calc(1.5 * var(--base-spacing));
}
.floating-button {
  display: none;
  position: absolute;
  right: calc(3 * var(--base-spacing));
  bottom: calc(10 * var(--base-spacing));
  height: calc(5 * var(--base-spacing));
  width: calc(5 * var(--base-spacing));
  background-color: var(--action-primary-background-default-solid);
  box-shadow: 0px 10px 38px -10px var(--shadow-first),
    0px 10px 20px -15px var(--shadow-second),
    inset 0px 0px 0px 1px var(--shadow-inset);
  border: none;
  border-radius: 4px;
  z-index: 2;
  justify-content: center;
  align-items: center;
}

.floating-button:disabled {
  opacity: 0.5;
}

.floating-button:focus-visible {
  box-shadow: 0px 0px 0px 2px var(--focus-default);
}

#mobile-sidebar-toggle::after {
  content: url("../../../images/icon-buttons/menu-animated/light/default.svg");
}

#mobile-sidebar-toggle:hover::after {
  content: url("../../../images/icon-buttons/menu-animated/light/hover.svg");
}

#mobile-sidebar-toggle:active::after {
  content: url("../../../images/icon-buttons/menu-animated/light/active.svg");
}

#mobile-sidebar-toggle:disabled::after {
  content: url("../../../images/icon-buttons/menu-animated/light/disabled.svg");
}

#mobile-sidebar-toggle:focus::after {
  content: url("../../../images/icon-buttons/menu-animated/light/focus.svg");
}

#mobile-sidebar-toggle.selected::after {
  content: url("../../../images/icon-buttons/menu-animated/light/selected.svg");
}

.theme-dark #mobile-sidebar-toggle::after {
  content: url("../../../images/icon-buttons/menu-animated/dark/default.svg");
}

.theme-dark #mobile-sidebar-toggle:hover::after {
  content: url("../../../images/icon-buttons/menu-animated/dark/hover.svg");
}

.theme-dark #mobile-sidebar-toggle:active::after {
  content: url("../../../images/icon-buttons/menu-animated/dark/active.svg");
}

.theme-dark #mobile-sidebar-toggle:disabled::after {
  content: url("../../../images/icon-buttons/menu-animated/dark/disabled.svg");
}

.theme-dark #mobile-sidebar-toggle:focus::after {
  content: url("../../../images/icon-buttons/menu-animated/dark/focus.svg");
}

.theme-dark #mobile-sidebar-toggle.selected::after {
  content: url("../../../images/icon-buttons/menu-animated/dark/selected.svg");
}

#mobile-sidebar-toggle.menu-shown::after {
  content: url("../../../images/icon-buttons/menu-animated-open/light/default.svg");
}

#mobile-sidebar-toggle.menu-shown:hover::after {
  content: url("../../../images/icon-buttons/menu-animated-open/light/hover.svg");
}

#mobile-sidebar-toggle.menu-shown:active::after {
  content: url("../../../images/icon-buttons/menu-animated-open/light/active.svg");
}

#mobile-sidebar-toggle.menu-shown:disabled::after {
  content: url("../../../images/icon-buttons/menu-animated-open/light/disabled.svg");
}

#mobile-sidebar-toggle.menu-shown:focus::after {
  content: url("../../../images/icon-buttons/menu-animated-open/light/focus.svg");
}

#mobile-sidebar-toggle.menu-shown.selected::after {
  content: url("../../../images/icon-buttons/menu-animated-open/light/selected.svg");
}

.theme-dark #mobile-sidebar-toggle.menu-shown::after {
  content: url("../../../images/icon-buttons/menu-animated-open/dark/default.svg");
}

.theme-dark #mobile-sidebar-toggle.menu-shown:hover::after {
  content: url("../../../images/icon-buttons/menu-animated-open/dark/hover.svg");
}

.theme-dark #mobile-sidebar-toggle.menu-shown:active::after {
  content: url("../../../images/icon-buttons/menu-animated-open/dark/active.svg");
}

.theme-dark #mobile-sidebar-toggle.menu-shown:disabled::after {
  content: url("../../../images/icon-buttons/menu-animated-open/dark/disabled.svg");
}

.theme-dark #mobile-sidebar-toggle.menu-shown:focus::after {
  content: url("../../../images/icon-buttons/menu-animated-open/dark/focus.svg");
}

.theme-dark #mobile-sidebar-toggle.menu-shown.selected::after {
  content: url("../../../images/icon-buttons/menu-animated-open/dark/selected.svg");
}

@media (max-width: 1024px) {
  .floating-button {
    display: flex;
  }
}
#header {
  --header-height: calc(8 * var(--base-spacing));
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: calc(2 * var(--base-spacing)) calc(3 * var(--base-spacing));
  position: absolute;
  height: var(--header-height);
  left: 0px;
  right: 0px;
  top: 0px;
  background: var(--background-header);
  border-bottom: 1px solid var(--border-default);
  z-index: 101;
}

#header .project-name {
  color: var(--text-primary);
}

#dark-project-logo {
  display: none;
}

:root.theme-dark #dark-project-logo {
  display: unset;
}

:root.theme-dark #project-logo {
  display: none;
}

.header-container-left {
  display: flex;
  align-items: center;
}

.header-container-left span {
  margin-right: calc(2 * var(--base-spacing));
}

.header-container-left span.hidden {
  display: none;
}

.header-container-right {
  display: flex;
  align-items: center;
}

.header-container-right .text-button {
  margin-left: calc(3 * var(--base-spacing));
}

.header-container-right #theme-toggle {
  margin-left: calc(3 * var(--base-spacing));
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container .project-logo {
  max-width: 40px;
}

.logo-container .project-logo img {
  max-width: 100%;
}

#mobile-menu-toggle {
  display: none;
}

.projectVersion {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: auto;
}

.single {
  padding-left: 16px;
}

@media (max-width: 950px) {
  .header-container-right .text-button {
    margin-left: calc(2 * var(--base-spacing));
  }
}

@media (max-width: 768px) {
  #mobile-menu-toggle {
    margin-left: calc(3 * var(--base-spacing));
    display: block;
    padding: 16px;
  }

  .header-container-right .text-button {
    display: none;
  }

  #theme-toggle {
    display: none;
  }

  #search-toggle {
    display: none;
  }

  .projectVersion{
    max-width: calc(12 * var(--base-spacing));
  }
}


#footer {
  position: absolute;
  bottom: 0;
  background-color: var(--action-primary-background-default-solid);
  height: calc(6 * var(--base-spacing));
  width: 100%;
  padding: calc(2 * var(--base-spacing));
  display: flex;
  align-items: center;
  color: var(--text-primary);
  box-sizing: border-box;
  flex-wrap: wrap;
  z-index: 100;
}

#footer .left-container {
  display: flex;
}

#footer .left-container::after {
  content: url(../../../images/footer-icon/light/default.svg);
  margin-left: calc(1 * var(--base-spacing));
}

.theme-dark #footer .left-container::after {
  content: url(../../../images/footer-icon/dark/default.svg);
}

#footer .right-container {
  margin-left: auto;
  display: flex;
}

#footer .right-container a {
  margin-right: calc(1.5 * var(--base-spacing));
}

#footer .right-container a:last-of-type {
  margin-right: calc(2 * var(--base-spacing));
}

#footer .text-mobile {
  display: none;
}

#footer.mobile-footer {
  display: none;
  justify-content: center;
}

@media (max-width: 480px) {

  #footer {
    display: none;
  }

  #footer.mobile-footer {
    display: flex;
    position: unset;
    height: calc(9 * var(--base-spacing));
  }

  #footer .text-mobile {
    display: none;
  }

  #footer.mobile-footer  .text-mobile {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: calc(1 * var(--base-spacing));
  }

  #footer .right-container .text {
    display: none;
  }

  #footer.mobile-footer > .text-mobile {
    display: flex;
  }
  
}#leftColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*padding: calc(3 * var(--base-spacing)) 0px;*/
  position: absolute;
  width: calc(39 * var(--base-spacing));
  height: calc(100% - (8 * var(--base-spacing)) - (6 * var(--base-spacing)));
  left: 0px;
  top: calc(8 * var(--base-spacing));
  background: var(--background-default);
  border: 1px solid var(--border-default);
  border-top: none;
  border-left: none;
  transition: left 0.2s linear;
  z-index: 100;
}

@media (max-width: 1024px) {

  #leftColumn {
    left: calc(-39 * var(--base-spacing));
    transition-property: left;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;

  }

  #leftColumn.show {
    left: 0;
  }
}

@media (max-width: 768px) {

}


@media (max-width: 480px) {

  #leftColumn {
    height: calc(100% - (8 * var(--base-spacing)));
  }

}

@media (max-width: 428px) {

  #leftColumn {
    width: 0;
    left: -100%;
    z-index: 1;
    opacity: 0;
    transition-property: left, opacity, width;
  }

  #leftColumn.show {
    width: 100%;
    left: 0;
    opacity: 1;
  }
}